*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif, Poppins;
}
.hero ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 20px 50px 20px 0;
    background-color: #000;
}
nav a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: #fff;  
}
nav a:hover{
    cursor: pointer;
    color: #3f96cd;
    transition: 0.3s ease;
}
.logo{
    margin-right: 50em;
    font-weight: bolder;
    overflow: none;
}
.logo a{
    font-size: 30px;
}
@media (max-width: 400px){
    .hero nav{
        width: 100%;
        margin-right: 0em;
        padding: 0px;
    }
    .hero ul{
        padding: 20px 10px 20px 0;
    }
    .logo{
        margin-right: 4em;
    }
}
@media (max-width: 450px){
    .hero nav{
        width: 100%;
        margin-right: 0em;
        padding: 0px;
    }
    .hero ul{
        padding: 20px 10px 20px 0;
    }
    .logo{
        margin-right: 4em;
    }
}
@media (max-width: 475px){
    .hero nav{
        width: 100%;
        margin-right: 0em;
        padding: 0px;
    }
    .hero ul{
        padding: 20px 10px 20px 0;
    }
    .logo{
        margin-right: 4em;
    }
}

@media (max-width: 600px){
    .hero nav{
        width: 100%;
        margin-right: 0em;
        padding: 0px;
    }
    .hero ul{
        padding: 20px 10px 20px 0;
    }
    .logo{
        margin-right: 4em;
    }
}

@media (max-width: 900px){
    .hero nav{
        width: 100%;
        margin-right: 0em;
        padding: 0px;
    }
    .hero ul{
        padding: 20px 10px 20px 0;
    }
    .logo{
        margin-right: 4em;
    }
}
@media (max-width: 1200px){
    .hero nav{
        width: 100%;
        margin-right: 0em;
        padding: 0px;
    }
    .hero ul{
        padding: 20px 10px 20px 0;
    }
    .logo{
        margin-right: 4em;
    }
}
@media (max-width: 1700px){
    .hero nav{
        margin-right: 0em;
        width: 100%;
        padding: 0px;
    }
    /* .hero ul{
        padding: 20px 10px 20px 0;
    }
    .logo{
        margin-right: 4em;
    } */
}
.hero-1 div{
    display: block;
    text-align: center;
    margin: 50px 0 50px 0;
    padding: 40px ;
    background-image: url(img/htm.jpg);
    color: #fff;
}
p{
    line-height: 30px;
    letter-spacing: 1px;
}
.hero-1 h1{
    font-size: 40px;
    margin-bottom: 20px;
}